<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <% if @project %>
      <p class="date"><%= @project.created_at.strftime('%A, %B %d') %></p>
      <h1><%= @project.title %></h1>
      <hr>
      <div id="content">
        <%= simple_format @project.description %>
        <div class="button_wrapper">
          <a href="<%= @project.link %>" class="project_button" target="_blank">Visit <%= @project.title %></a>
        </div>
      </div>
    <% else %>
      <p>Project not found</p>
    <% end %>
  </header>
</div>
