<!DOCTYPE html>
<html>
  <head>
<%= javascript_include_tag 'rails-ujs' %>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <title>MyPortfolioSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

     <header id="main_navigation" class="clearfix">
  <%= link_to "Abdoul Kane", root_path, class: "name" %>
  <nav>
    <%= link_to "Articles", posts_path %>
    <%= link_to "Projects", projects_path %>
    <%= link_to "Contact", contact_path %>
  </nav>
</header>

    <%= yield %>

<footer id="main_footer">
<p class="copyright">&copy; 2023
Abdoul Kane</p>
<nav>
  <a href="https://github.com/zizsalam" target="_blank"><i class="fa-brands fa-square-github"></i></a>
  <a href="https://twitter.com/home" target="_blank"><i class="fa-brands fa-twitter"></i></a>
  <a href="https://medium.com/@kaneaziz" target="_blank"><i class="fa-brands fa-medium"></i></a>
</nav>
</footer>

  </body>
</html>
